.navbar {
  background-color: darkgreen;
}
.green {
  background-color:  green;
}
a:visited {
  color: white;
}
.hero {
  width: inherit;
}
.btn {
text-align: center;
align-items: flex-start;
color: white;
  }
.lead {
  display: inline-flex;
  align-items: baseline;
}
