#header img {
  height: auto;
  width: auto;
}
#header nav {
  background-color:  green;
  padding: 15px;
  color: white;
  font-weight: bold;
  

}
#header nav a {
  padding: 25px;
  align-items: center;
}
